<%= form_with(model: @product, local: true) do |form| %>

<% if @product.errors.present? %>
    <p class="form-errors">
        <%= @product.errors.full_messages.join(", ") %>
    </p>
<% end %>

<div>
    <%= form.label :title %> <br>
    <%= form.text_field :title %>
</div>

<div>
    <%= form.label :description %> <br>
    <%= form.text_area :description, coles: 50, rows: 10 %>
</div>

<div>
    <%= form.label :price %>
    <%= form.text_field :price%>
</div>

<div>
    <%= form.label :tag_names %>
    <%= form.text_field :tag_names %>

    <%#= form.collection_check_boxes :tag_ids, Tag.all, :id, :name %>
</div>

    <%= form.submit "Submit Product" %>
<% end %>

<script>
    $("#product_tag_names").selectize({
        delimiter: ',',
        persist: false,
        labelField: "name",
        valueField: "name",
        searchField: "name",
        options: <%= Tag.select(:name).to_json(except: [:id]).html_safe %>,
        create (input) {
            return {
                name: input
            }
        }
    })
</script>