<h1> <%= @product.title %> </h1>

<p> <%= @product.description %> </p>

<div>
    <small>
        Priced at $<%= @product.price %> CAD
    </small>
</div>

<p>
    Created by: <%= @product.user&.full_name || "Delete" %>
</p>

<div>
    <small>
        <% if can?(:edit, @product) %>
        <%= link_to(
            "Edit",
            edit_product_path(@product.id)
        ) %>
        <% end %>

        <% if can?(:delete, @product) %>
        <%= link_to(
            "Delete",
            product_path,
            method: :delete,
            data: {
                confirm: "Are you sure you want to get rid of this product?\nThe health benefits are extraordinary"
            }
        ) %>
        <% end %>
    </small>
</div>

<h5>Submit your review here:</h5>

<%= form_with(model: [@product, @review], local: true) do |f| %>

    <% if @product.errors.present? %>
        <p class="form-errors" >
            <%= @product.errors.full_messages.join(", ") %>
        </p>
    <% end %>

    <div>
        <%= f.text_area(
            :body,
            cols: 50,
            rows: 10,
            placeholder: "What do you think of this strain?"
        ) %>
    </div> <h5>Start rating (1 to 5 only):</h5>
        <%= f.text_field (
            :rating
        ) %>
    <div>

    </div>
    <%= f.submit "Review" %>
<% end %>

<h2>Reviews</h2>
<ul class="review-list">
<% @reviews.each do |review| %>

    <li>
        <strong> <%= review.user.full_name %> reviewed: </strong> <br>
        <p> 
            <%= review.body %>
            <% if can?(:delete, review) %>
                <small>
            
                    <%= link_to(
                        "Delete",
                        product_review_path(@product.id, review.id),
                        method: :delete,
                        data: { 
                            confirm: "Are you sure you want to retract your amazing review of the #{@product.title} strain?"
                        }
                    ) %>
            
                </small>
                •
            <% end %>
            
            <small> Reviewed <%= time_ago_in_words(review.created_at) %> ago </small>
            •
            <small> Rated at <%= review.rating %> </small>
            <% if review.user_id %>
            •
            <small> Reviewed by: <%= "#{review.user.first_name} #{review.user.last_name}" %></small>
            <% end %>

        </p>
    </li>
<% end %>

</ul>